# Proxy corporativo
HTTP_PROXY=http://USUARIO:SENHA@host-proxy:porta
HTTPS_PROXY=http://USUARIO:SENHA@host-proxy:porta
NO_PROXY=localhost,127.0.0.1

# Credenciais SEI MG
LOGIN_SEI=seu_cpf_ou_login
SENHA_SEI=sua_senha

# Caminho do ChromeDriver
CHROMEDRIVER_PATH=C:\caminho\para\chromedriver.exe

# Google Drive
GOOGLE_CREDENTIALS_JSON=C:\caminho\para\credentials.json
GOOGLE_AUTH_EMAIL=seu_email@gmail.com
